.img {
    width: 30px;
}

.Menu_button {
    border: none;
    background: none;
    transition: 1s;
    cursor: pointer;
    width: 45px;
}

.elems {
    margin: 5.5% 0 0 17%;
}


.Menu_button:hover {
    transform: scale(1.1);
}

.Menu_button:active {
    transform: scale(0.5);
}
