.Dz {
    height: 100px;
}

.Menu {
    display: flex;
    background-color: mediumslateblue;
    height: 40px;
}

.menu_area{
    height: 100%;
    width: 5%;
    background-color:darkslateblue;
}

.main {
    margin:55px 0px;
    display: flex;
}

.hov:hover {
    transform: scale(1.05);
}
